<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/63d9e6c8-efe3-4cd3-a655-2f8c14ed1f01/resourcegroups/DefaultResourceGroup-NZN/providers/Microsoft.Web/sites/StoreSalesInventoryServer20260905014726</ResourceId>
    <ResourceGroup>DefaultResourceGroup-NZN</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://storesalesinventoryserver20260905014726-aacwdnhfdkf9gpe9.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>07d3f3ee-7ce5-449e-b65f-624584a294b2</ProjectGuid>
    <PublishUrl>https://storesalesinventoryserver20260905014726-aacwdnhfdkf9gpe9.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>